body{
    background-color: beige;
    margin: 0;
}
nav{
    background-color: white;
}
.large-screen-view{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{ 
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}
.links a{
    text-decoration: none;
    margin: 0px 10px 0px;
}
.toggle{
    visibility: hidden;
    /* width: 0;
    height: 0; */
}
.social-icons{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.social-icons a{
    margin: 0px 10px 0px;
}
@media only screen and (max-width: 600px) {
    .navheader{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .toggle{
        margin-right: 20px;
        visibility: visible;
        border: none;
        
    }
    .large-screen-view{
        display: block;
        justify-content: space-between;
        align-items: center;
        margin: 0px 10px 0px;
    }
    .logo{
        height:5rem;
        width: 10rem;
    }
    .links{ 
        list-style: none;
        display: none;
    }
    .social-icons{
        list-style: none;
        display: none;
    }
  

}